<!------------------- local ----------------------------->
<ion-content [class]="'hide-sm-down'" *ngIf="currLoginType === 'local'">
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../assets/icon/sign-in-abstract.svg" />
    <ion-item-group class="bodyStyle">

      <!-- Logo and forget password note -->
      <div class="loginLogo">
        <img style="width: 110px;height: 39px;" src="../../assets/icon/ZEN_logo.png" />
      </div>
      <ion-note class="noteStyle" style="justify-content: center; font-size: 14px; margin: 25px 25px 5px;">
        Reset password</ion-note>
      <ion-note class="noteStyle" style="margin: auto; font-size: 12px; justify-content: center;
         opacity: 0.5; margin-bottom: 15px;">Please insert your new password</ion-note>
      <ion-note class="noteStyle" style="color: var(--ion-color-danger); justify-content: center;"
        *ngIf="resetErrorMsg !== null || resetErrorMsg !== ''">{{resetErrorMsg}}</ion-note>
      <form class="formStyle">
        <ion-label>New Password</ion-label>
        <ion-item class="textBox">
          <ion-input type="password" name="newpassword" required placeholder="Enter your new password"
            [(ngModel)]="newPassword"></ion-input>
        </ion-item>
        <ion-label>Confirm New Password</ion-label>
        <ion-item class="textBox">
          <ion-input type="password" name="confirmnewpassword" required placeholder="Confirm your new password"
            [(ngModel)]="confirmNewPassword"></ion-input>
        </ion-item>
        <!-- Submit button -->
        <ion-item lines="none">
          <ion-button fill="clear" type="submit" (click)="saveNewPassword()">Save New Password</ion-button>
        </ion-item>
      </form>
    </ion-item-group>
  </ion-item-group>
</ion-content>
<div [class]="'hide-sm-up'" *ngIf="currLoginType === 'local'" style="height: 100%; width: 100%;">
  <ion-item-group class="mainLayout">
    <img class="sideimg-sm" src="../../assets/icon/sign-in-abstract.svg" />

    <ion-item-group class="bodyStyle-sm">
      <!-- Logo and forget password note -->
      <div class="loginLogo">
        <img style="width: 110px;height: 39px;" src="../../assets/icon/ZEN_logo.png" />
      </div>
      <ion-note class="noteStyle note-sm-format" style="justify-content: center; font-size: 14px;">
        Reset password</ion-note>
      <ion-note class="noteStyle note-sm-format" style="margin: auto; font-size: 12px; justify-content: center; 
         opacity: 0.5;">Please insert your new password</ion-note>
      <ion-note class="noteStyle" style="color: var(--ion-color-danger); justify-content: center;"
        *ngIf="retMsg !== null || retMsg !== ''">{{retMsg}}</ion-note>
      <form class="formStyle">
        <ion-item-group style=" margin: 5px 30px 20px;">
          <ion-label style="margin-bottom: 5px;">New Password</ion-label>
          <ion-item class="textBox" color="transparent" style="color: var(--ion-color-light); margin-bottom: 0px;">
            <ion-input type="password" name="newpassword" required placeholder="Enter your new password"
              [(ngModel)]="newPassword"></ion-input>
          </ion-item>
          <ion-text [hidden]="retPass1 === null" style="color: var(--ion-color-danger)">{{retPass1}}</ion-text>
        </ion-item-group>
        <ion-item-group style=" margin: 5px 30px 20px;">
          <ion-label style="margin-bottom: 5px;">Confirm New Password</ion-label>
          <ion-item class="textBox" color="transparent" style="color: var(--ion-color-light); margin-bottom: 0px;">
            <ion-input type="password" name="confirmnewpassword" required placeholder="Confirm your new password"
              [(ngModel)]="confirmNewPassword"></ion-input>
          </ion-item>
          <ion-text [hidden]="retPass2 === ''" style="color: var(--ion-color-danger)">{{retPass2}}</ion-text>
        </ion-item-group>

        <!-- Submit button -->
        <ion-item lines="none" color="transparent" style="margin: 30px;">
          <ion-button fill="clear" type="submit" style="background-color: var(--ion-color-light);
            color: #43425d;" (click)="saveNewPassword()">Save New Password</ion-button>
        </ion-item>
      </form>
    </ion-item-group>


  </ion-item-group>
</div>

<!------------------- Ad --------------------------------->
<ion-content [class]="'hide-sm-down'" *ngIf="currLoginType === 'ad'">
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../assets/icon/sign-in-abstract.svg" />
    <ion-item-group class="bodyStyle">

      <!-- Logo and forget password note -->
      <div class="loginLogo">
        <img style="width: 110px;height: 39px;" src="../../assets/icon/ZEN_logo.png" />
      </div>
      <!-- <p style="opacity: 0.5;font-size: 13px;line-height: 0.62;text-align: center;color: #4d4f5c;">Welcome!</p> -->
      <ion-note class="noteStyle" style="justify-content: center; font-size: 14px; margin: 25px 25px 5px;">
        User profile activation</ion-note>
      <ion-note class="noteStyle" style="margin: auto; font-size: 12px; justify-content: center;
         opacity: 0.5; margin-bottom: 15px;">Please click to proceed the user activation</ion-note>
      <ion-button fill="clear" style="margin: 0 auto; display: block; font-size: 11px; width: 124px; text-transform: capitalize; color: white;
       --background: #43425d; height: 34px; object-fit: contain; border-radius: 2px; background-color: #43425d;">
        Activate</ion-button>
    </ion-item-group>
  </ion-item-group>
</ion-content>