<!------------------- local ----------------------------->
<ion-content [class]="'hide-sm-down'">
<!-- <ion-content [class]="'hide-sm-down'" *ngIf="currLoginType === 'local'"> -->
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../assets/icon/sign-in-abstract.svg" />
    <ion-item-group class="bodyStyle">

      <!-- Logo and forget password note -->
      <div class="loginLogo">
        <!-- <img style="width: 110px;height: 39px;" src="../../assets/icon/ZEN_logo.png" /> -->
        <img src={{image}} alt="beesuite" style="color:white;width:100px">
      </div>
      <ion-note class="noteStyle" style="justify-content: center; font-size: 14px; margin: 25px 25px 5px;">
        Reset password</ion-note>
      <ion-note class="noteStyle" style="margin: auto; font-size: 12px; justify-content: center;
         opacity: 0.5; margin-bottom: 15px;">Please insert your new password</ion-note>
      <form class="formStyle" [formGroup]="myForm">
        <ion-item-group style=" margin: 5px 30px 20px;">
          <!-- <ion-label style="margin-bottom: 5px;">New Password</ion-label> -->
          <mat-form-field style="width: 100%;font-size: 12px;">
            <mat-label>New password</mat-label>
            <input matInput placeholder="New password" formControlName="newPass" [type]="hideNew ? 'text' : 'password'"
              required>
            <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility':'visibility_off'}}</mat-icon>
            <mat-error *ngIf="myForm.hasError('required', 'newPass')">
              Please enter your new password
            </mat-error>
          </mat-form-field>
        </ion-item-group>
        <ion-item-group style=" margin: 5px 30px 20px;">
          <!-- <ion-label style="margin-bottom: 5px;">Confirm Password</ion-label> -->
          <mat-form-field style="width: 100%;font-size: 12px;">
            <mat-label>Confirm password</mat-label>
            <input matInput placeholder="Confirm password" formControlName="confirmPass"
              [type]="hideConfirm ? 'text' : 'password'" [errorStateMatcher]="matcher" required>
            <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility':'visibility_off'}}
            </mat-icon>
            <mat-error *ngIf="myForm.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </ion-item-group>

        <ion-button fill="clear" type="submit" style="width: 150px;display: block;font-size: 11px;
        text-transform: capitalize;height: 34px;margin: auto;border-radius: 2px;background-color: #43425d;
          color: #ffffff;" (click)="saveNewPassword()" [disabled]="!myForm.valid">Save New Password
        </ion-button>
      </form>
    </ion-item-group>
  </ion-item-group>
</ion-content>
<div [class]="'hide-sm-up'" style="height: 100%; width: 100%;">
<!-- <div [class]="'hide-sm-up'" *ngIf="currLoginType === 'local'" style="height: 100%; width: 100%;"> -->
  <ion-item-group class="mainLayout">
    <img class="sideimg-sm" src="../../assets/icon/sign-in-abstract.svg" />

    <ion-item-group class="bodyStyle-sm">
      <!-- Logo and forget password note -->
      <div class="loginLogo">
        <!-- <img style="width: 110px;height: 39px;" src="../../assets/icon/ZEN_logo.png" /> -->
        <img src={{image}} alt="beesuite" style="color:white;width:100px">
      </div>
      <ion-note class="noteStyle note-sm-format" style="justify-content: center; font-size: 14px;">
        Reset password</ion-note>
      <ion-note class="noteStyle note-sm-format" style="margin: auto; font-size: 12px; justify-content: center; 
         opacity: 0.5;">Please insert your new password</ion-note>
      <form class="formStyle" [formGroup]="myForm">
        <ion-item-group style=" margin: 5px 30px 20px;">
          <!-- <ion-label style="margin-bottom: 5px;">New Password</ion-label> -->
          <mat-form-field style="width: 100%;font-size: 12px;">
            <mat-label>New password</mat-label>
            <input matInput placeholder="New password" formControlName="newPass" [type]="hideNew ? 'text' : 'password'"
              required>
            <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility':'visibility_off'}}</mat-icon>
            <mat-error *ngIf="myForm.hasError('required', 'newPass')">
              Please enter your new password
            </mat-error>
          </mat-form-field>
        </ion-item-group>
        <ion-item-group style=" margin: 5px 30px 20px;">
          <!-- <ion-label style="margin-bottom: 5px;">Confirm Password</ion-label> -->
          <mat-form-field style="width: 100%;font-size: 12px;">
            <mat-label>Confirm password</mat-label>
            <input matInput placeholder="Confirm password" formControlName="confirmPass"
              [type]="hideConfirm ? 'text' : 'password'" [errorStateMatcher]="matcher" required>
            <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility':'visibility_off'}}
            </mat-icon>
            <mat-error *ngIf="myForm.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </ion-item-group>

        <ion-button fill="clear" type="submit" style="width: 150px;display: block;font-size: 11px;
        text-transform: capitalize;height: 34px;margin: auto;border-radius: 2px;background-color: #43425d;
          color: #ffffff;" (click)="saveNewPassword()" [disabled]="!myForm.valid">Save New Password
        </ion-button>
      </form>
    </ion-item-group>
  </ion-item-group>
</div>

<!------------------- Ad --------------------------------->
<ion-content [class]="'hide-sm-down'">
<!-- <ion-content [class]="'hide-sm-down'" *ngIf="currLoginType === 'ad'"> -->
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../assets/icon/sign-in-abstract.svg" />
    <ion-item-group class="bodyStyle">

      <!-- Logo and forget password note -->
      <div class="loginLogo">
        <!-- <img style="width: 110px;height: 39px;" src="../../assets/icon/ZEN_logo.png" /> -->
        <img src={{image}} alt="beesuite" style="color:white;width:100px">
      </div>
      <!-- <p style="opacity: 0.5;font-size: 13px;line-height: 0.62;text-align: center;color: #4d4f5c;">Welcome!</p> -->
      <ion-note class="noteStyle" style="justify-content: center; font-size: 14px; margin: 25px 25px 5px;">
        User profile activation</ion-note>
      <ion-note class="noteStyle" style="margin: auto; font-size: 12px; justify-content: center;
         opacity: 0.5; margin-bottom: 30px;">Please click to proceed the user activation</ion-note>
      <ion-button fill="clear" style="margin: 0 auto; display: block; font-size: 11px; width: 124px; text-transform: capitalize; color: white;
       --background: #43425d; height: 34px; object-fit: contain; border-radius: 2px; background-color: #43425d;"
        (click)="activateUser()">
        Activate</ion-button>
    </ion-item-group>
  </ion-item-group>
</ion-content>

<div [class]="'hide-sm-up'" style="height: 100%; width: 100%;">
<!-- <div [class]="'hide-sm-up'" *ngIf="currLoginType === 'ad'" style="height: 100%; width: 100%;"> -->
  <ion-item-group class="mainLayout">
    <img class="sideimg-sm" src="../../assets/icon/sign-in-abstract.svg" />

    <ion-item-group class="bodyStyle-sm">
      <!-- Logo and forget password note -->
      <div class="loginLogo">
        <!-- <img style="width: 110px;height: 39px;" src="../../assets/icon/ZEN_logo.png" /> -->
        <img src={{image}} alt="beesuite" style="color:white;width:100px">
      </div>
      <ion-note class="noteStyle note-sm-format" style="justify-content: center; font-size: 14px;">
        User profile activation</ion-note>
      <ion-note class="noteStyle note-sm-format" style="margin: auto; font-size: 12px; justify-content: center; 
         opacity: 0.5;margin-bottom: 30px;">Please click to proceed the user activation</ion-note>
      <ion-button fill="clear" style="margin: 0 auto; display: block; font-size: 11px; width: 124px; text-transform: capitalize; color: white;
          --background: #43425d; height: 34px; object-fit: contain; border-radius: 2px; background-color: #43425d;"
        (click)="activateUser()">
        Activate</ion-button>
    </ion-item-group>
  </ion-item-group>
</div>