:host {
    .mainLayout {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .sideimg {
        max-width: 100%;
        max-height: 100%;
        width: 40%;
        object-fit: cover;
    }

    .sideimg-sm {
        position: absolute;
        min-width: -webkit-fill-available;
        min-height: -webkit-fill-available;
        object-fit: cover;
        height: -webkit-fill-available;
    }

    .bodyStyle {
        position: inherit;
        margin: auto;
    }

    .bodyStyle-sm {
        position: relative;
        margin: auto;
        color: var(--ion-color-light);
    }

    .noteStyle {
        opacity: 0.7;
        font-size: 13px;
        margin: 15px;
        text-align: center;
        max-width: 250px;
        display: flex;
    }

    .note-sm-format {
        margin: 25px 25px 5px;
        color: var(--ion-color-light);
    }

    .loginLogo {
        text-align: center;
    }

    .textBox {
        border-radius: 3px !important;
        border: solid 0.5px #a5a4bf;
        height: 30px;
        margin: 5px auto 15px;
        display: flex;
        align-items: center;
    }

    .formStyle {
        ion-label {
            font-size: 10px;
            color: var(--eleave-body-empty-color);
        }

        ion-item {
            font-size: 10px;

            ion-input {
                --padding-top: 0px;
                --padding-bottom: 0px;
            }

            ion-button {
                text-transform: capitalize;
                margin: auto;
                width: 123.3px;
                height: 33.3px;
                object-fit: contain;
                border-radius: 2px;
                background-color: #43425d;
                font-size: 9px;
                color: #ffffff;
            }

            button {
                background-color: transparent;

                ion-icon {
                    color: grey;
                    font-size: 20px;
                }
            }
        }

        ion-text {
            font-size: 10px;
        }

        ion-row {
            display: flex;
            justify-content: space-between;
            margin: 15px 0px;
            opacity: 0.7;
            font-size: 11px;

            ion-item-group {
                display: flex;

                ion-checkbox {
                    --border-radius: 2px;
                    --border-width: 1px;
                    --size: 12px;
                    margin: 0px 3px;
                }
            }
        }
    }
}
