<ion-content [class]="'hide-sm-down'">
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../assets/icon/sign-in-abstract.svg" />
    <ion-item-group class="bodyStyle">

      <!-- Logo and forget password note -->
      <ion-avatar class="loginLogo">
        <!-- <img src="../../assets/icon/logo.PNG" /> -->
        <img src={{image}} alt="beesuite" style="color:white">
      </ion-avatar>
      <ion-note class="noteStyle" style="justify-content: center; font-size: 14px; margin: 25px 25px 5px;">
        Enter the registered email address</ion-note>
      <ion-note class="noteStyle" style="margin: auto; font-size: 12px; justify-content: center;
         opacity: 0.5; margin-bottom: 15px;">We will email you a link to reset your password</ion-note>
      <ion-note class="noteStyle" style="color: var(--ion-color-danger); justify-content: center;" *ngIf="resetErrorMsg !== null || resetErrorMsg !== ''">{{resetErrorMsg}}</ion-note>
      <form class="formStyle">
        <ion-item>
          <ion-input type="email" name="email" required placeholder="Enter email address" [(ngModel)]="userEmail"></ion-input>
        </ion-item>

        <!-- Submit button -->
        <ion-item lines="none">
          <ion-button fill="clear" type="submit" (click)="requestForgotPassword()">Send Request
            <ion-spinner name="lines-small" *ngIf="spinWait"></ion-spinner>
          </ion-button>
        </ion-item>
      </form>
    </ion-item-group>
  </ion-item-group>
</ion-content>
<div [class]="'hide-sm-up'" style="height: 100%; width: 100%;">
  <ion-item-group class="mainLayout">
    <img class="sideimg-sm" src="../../assets/icon/sign-in-abstract.svg" />
    <ion-item-group class="bodyStyle-sm">
      <!-- Logo and forget password note -->
      <ion-avatar class="loginLogo">
        <!-- <img src="../../assets/icon/logo.PNG" /> -->
        <img src={{image}} alt="beesuite" style="color:white">
      </ion-avatar>
      <!-- <ion-label (click)="testroute()">ddssdsd</ion-label> -->
      <ion-note class="noteStyle note-sm-format" style="justify-content: center; font-size: 14px;">
        Enter the registered email address</ion-note>
      <ion-note class="noteStyle note-sm-format" style="margin: auto; font-size: 12px; justify-content: center; 
         opacity: 0.5;">We will email you a link to reset your password</ion-note>
      <ion-note class="noteStyle" style="color: var(--ion-color-danger); justify-content: center;" *ngIf="resetErrorMsg !== null || resetErrorMsg !== ''">{{resetErrorMsg}}</ion-note>
      <form class="formStyle">
        <ion-item color="transparent" style="color: var(--ion-color-light); margin: 0px 30px;">
          <ion-input type="email" name="email" required placeholder="Enter email address" [(ngModel)]="userEmail"></ion-input>
        </ion-item>

        <!-- Submit button -->
        <ion-item lines="none" color="transparent" style="margin: 30px;">
          <ion-button fill="clear" type="submit" style="background-color: var(--ion-color-light);
            color: #43425d;" (click)="requestForgotPassword()">Send Request
            <ion-spinner name="lines-small" *ngIf="spinWait"></ion-spinner>
          </ion-button>
        </ion-item>
      </form>
    </ion-item-group>


  </ion-item-group>
</div>